@import 'src/components/layouts/variables';
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 0;
  &-contacts {
    &-title {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    &-container {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 8px;
      justify-content: center;
    }
    &-item {
      margin-right: 24px;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $dark;
        }
      }
    }
    &-url {
      display: none;
      @media print {
        display: block;
      }
    }
  }
  &-note {
    margin: 12px 0;
    text-align: center;
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 16px -4px;
  }
  &-button {
    margin: 2px 4px;
    width: 100%;
    max-width: 300px;
    &-icon {
      margin-right: 8px;
    }
  }
}
