@import 'src/components/layouts/variables';
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  color: $dark;
  @include media-breakpoint-down(md) {
    text-align: center;
    flex-direction: column;
  }
  @media print {
    text-align: left;
    flex-direction: row;
  }

  &-contacts {
    @include media-breakpoint-up(md) {
      padding: 0 12px;
    }
    @media print {
      padding: 0 12px;
    }
    &-title {
      font-size: 32px;
      font-weight: bold;
      margin: 16px 0 8px;

      &-icon {
        margin-right: 8px;
      }
    }
    &-subtitle {
      color: $primaryDarker;
      font-size: 18px;
      font-weight: bold;
      margin: 8px 0 8px;
    }
    &-container {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 8px;
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
      @media print {
        justify-content: flex-start;
      }
    }
    &-item {
      margin: 2px 24px 2px 0;
      @include media-breakpoint-down(md) {
        margin: 2px 12px;
      }
      @media print {
        margin: 2px 24px 2px 0;
      }
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $dark;
        }
      }
    }
    &-url {
      display: none;
      @media print {
        display: block;
      }
    }
  }

  &-description {
    text-align: justify;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    @media print {
      text-align: justify;
    }
  }

  &-print {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .qr-code {
    margin-top: 12px;
    @include media-breakpoint-down(md) {
      display: none;
    }
    @media print {
      display: none;
    }
  }

  .print {
    margin-top: 12px;
    margin-bottom: 8px;
    @media print {
      display: none;
    }
  }
}
