.experience {
  width: 100%;
  padding: 16px 16px 8px;
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-title {
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0 8px;
    &-icon {
      margin-right: 8px;
    }
  }
}