// colors
$primary: #ABCBBE;
$dark: #222222;
$light: #EEEEEE;

// sizes
$viewHeight: 100vh;

// fonts
$font-family-default: "Andika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
