@import url('https://fonts.googleapis.com/css?family=Andika');
@import 'src/components/layouts/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';
