// colors
$primary: #ABCBBE;
$primaryBorder: #a4c3b7;
$primaryDark: #7c9a8e;
$primaryLight: #ddfef1;
$dark: #222222;
$light: #EEEEEE;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// sizes
$viewHeight: 100vh;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;

$container-max-widths: (
        sm: 1200px,
        md: 1200px,
        lg: 1200px,
        xl: 1200px
) !default;

// fonts
$font-family-default: "Andika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
