@import "src/components/layout/variables";
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  .avatar {
    margin-top: 46px;
  }
  h1 {
    font-size: 32px;
    color: $light;
    margin-top: 16px;
    text-align: center;
  }
  .badge {
    align-self: flex-end;
    margin-right: 18px;
    font-size: 14px;
    font-weight: 400;
  }
  h2 {
    font-size: 24px;
    color: $light;
    margin-top: 16px;
    text-align: center;
  }
  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    svg {
      margin: 8px;
    }
  }

  .qr-code {
    margin-top: 12px;
    @media (max-width: $max-sm) {
      display: none;
    }
  }

  .print {
    margin-top: 12px;
    margin-bottom: 8px;
    @media print {
      display: none;
    }
  }

  @media (max-width: $max-md) {
    .badge {
      align-self: center;
    }
  }
}