@import "layout/theme";
body {
  background: $light;
  font-family: $font-family-default;
}
.app {
  &-side-bar, &-content {
    height: $viewHeight;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
  }
  &-side-bar {
    background: $dark;
  }
  @include media-breakpoint-between(xs, sm) {
    &-side-bar, &-content {
      height: auto;
      overflow: hidden;
    }
  }
}