@import 'src/components/layouts/theme';

body {
  background: $light;
  font-family: $font-family-default;
  -webkit-print-color-adjust: exact !important;
}

@media print {
  a:link {
    border-bottom: none !important;
    text-decoration: none !important;
  }
  a[href]:after {
    content: none !important;
  }
  .col-md-8 {
    width: 66.6666% !important;
  }
  .col-md-4 {
    width: 33.3333% !important;
  }
}

.app {
  &-header {
    background: $primary;
  }
  &-footer {
    background: $gray-300;
  }
}
