@import "src/components/layouts/theme";

body {
  background: $light;
  font-family: $font-family-default;
  -webkit-print-color-adjust: exact !important;
}

.app {
  &-side-bar, &-content {
    height: $viewHeight;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    @include media-breakpoint-between(xs, sm) {
      height: auto;
      overflow: hidden;
    }
    @media print {
      height: 100%;
      min-height: $viewHeight;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }

  &-side-bar {
    background: $dark;
  }
}