@import "src/components/layouts/variables";

.publication-item {
  padding: 12px 0 12px 0;

  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
  }

  p {
    line-height: 20px;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  &-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $dark;
    text-decoration: none;
    &:hover {
      color: $dark;
      text-decoration: none;
    }
  }

  &-title {
    flex: 100%;
    &-icon {
      margin-right: 8px;
    }
  }

  &-journal:after {
    content: ' |';
  }
}