@import "../variables";
.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background: $primary;
  border: 1px $primaryBorder solid;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0 16px 0 0;
  &-progress {
    width: 20px;
    height: 28px;
  }
  &-icon {
    margin-left: 4px;
  }
  &-badge {
    margin-left: 4px;
  }
  &-title {
    margin-left: 4px;
  }
}